.main-menu-container {
    -fx-background-color: #262626;
}
.button {
    -fx-pref-width: 200;
    -fx-font-size: 15;
    -fx-font-family: Arial;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-border-color: #124d77;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #007dc1, #0061a7);
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #0061a7, #007dc1);
}