.root{
 -fx-background-image: url(../sfondo_finestre.jpg);
  -fx-background-repeat: no-repeat; /* this applies to both images */
  -fx-background-size: stretch;

}
.button{
    -fx-background-image: url(../Empty_Button.png);
    -fx-background-color: transparent;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
    -fx-padding: 1em 2em 1em 2em;
    -fx-margin: 0 0 20 0;
}
.button:hover{
    -fx-background-image: url(../Empty_Button_Glowing.png);
}
