.root {
	-fx-background-color: black;
	-fx-font-size: 25;
	-fx-background-size: 100% 100%;
}

#title{
	-fx-padding: 15 5 0 0;
	-fx-text-fill: red;
	-fx-font-size: 35;
}

Button {
	 -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
Button:hover {
	-fx-text-fill: red;
}
Label {
	-fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #f2f2f2;
    -fx-effect: dropshadow( gaussian , rgba(0.5,0.5,0.5,0.5) , 10,0,0,1 );
}
ComboBox {
	-fx-font-size: 16;
	-fx-font-weight: bold;
    -fx-text-fill: #f2f2f2;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
CheckBox{
	-fx-font-size: 15;
	-fx-font-weight: bold;
    -fx-text-fill: f2f2f2;
    -fx-effect: dropshadow( gaussian , rgba(0.5,0.5,0.5,0.5) , 10,0,0,1 );
}
.check-box.box {
	-fx-background-color: transparent;
	-fx-border-color: red;
}

#menulogo{
	 -fx-image: url("logos/menulogo.png");
}

#menu{
    -fx-background-image: url("backgrounds/menu.jpg");
}
#modeselection{
    -fx-background-image: url("backgrounds/modeselection.jpg");
}
#achievements{
    -fx-background-image: url("backgrounds/achievements.jpg");
}
#highscores{
    -fx-background-image: url("backgrounds/highscores.jpg");
}
#settings{
    -fx-background-image: url("backgrounds/settings.jpg");
}
#manual{
    -fx-background-image: url("backgrounds/manual.jpg");
}
#pause{
    -fx-background-image: url("backgrounds/pause.jpg");
}
#game{
    -fx-background-image: url("backgrounds/game.jpg");
}
#gameover{
    -fx-background-image: url("backgrounds/gameover.jpg");
}