/* WELCOME BUTTONS */
.button {
    -jfx-button-type: RAISED;
    -fx-text-fill: white;
    -fx-background-color: #312f2e;
    -fx-border-color: #5affd0;
    -fx-font-family: "Inconsolata Bold";
    -fx-font-size: 20.0;
    -jfx-disable-visual-focus: true;
}

/* LABELS */
#generalabel {
    -fx-font-family: "Inconsolata Bold";
    -fx-text-fill: #5affd0;
    -fx-font-size: 20.0;
}
#historylabel {
    -fx-font-family: "Inconsolata Regular";
    -fx-text-fill: #5affd0;
    -fx-font-size: 20.0;
}
#hintlabel {
    -fx-font-family: "Inconsolata Bold";
    -fx-text-fill: #5affd0;
    -fx-font-size: 15.0;
}
#toolabel {
    -fx-text-fill: white;
    -fx-font-size: 15.0;
    -fx-font-family: "Inconsolata Regular";
}

/*PANES*/
.anchor-pane {
    -fx-background-color: #333130;
    -fx-border-color: #5affd0;
}

.split-pane {
    -fx-background-color: #333130;
    -fx-border-color: #5affd0;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 1.0;
    -fx-background-color: #5affd0;
}
.split-pane:vertical > .split-pane-divider {
    -fx-padding: 3.0;
    -fx-background-color: #5affd0;
}

.titled-pane {
    -fx-font-family: "Inconsolata Regular";
    -fx-text-fill: #5affd0;
}
.titled-pane > .title{
    -fx-background-color: #333130;
    -fx-font-size: 18.0;
    -fx-border-width: 1.0 0.0 0.0 0.0;
    -fx-border-color: #5affd0;
}
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: #5affd0;
}
.titled-pane > *.content {
    -fx-background-color: #333130;
    -fx-border-width: 0.0 0.0 0.0 0.0;
}
#firstitlepane > .title {
    -fx-border-width: 0.0 0.0 0.0 0.0;
}

.scroll-pane > .viewport {
   -fx-background-color: #333130;
}
.scroll-pane > .corner{
	-fx-background-color: #333130;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #333130;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #5affd0;
    -fx-background-radius: 0.0em;
}
#border-pane {
    -fx-background-color: #333130;
}
/*MENU-BAR*/
.menu-bar {
    -fx-background-color: #333130;
    -fx-selection-bar: #333130 ;
    -fx-text-background-color: #5affd0;
    -fx-font-family: "Inconsolata Regular";
    -fx-font-size: 15.0;  
    -fx-focused-text-base-color:  #5affd0;
}
.menu .label{
    -fx-text-base-color: white;
}
.context-menu {
    -fx-background-color: #333130;
    -fx-text-fill:white;
    -fx-border-width: 0.0 1.0 1.0 1.0;
    -fx-border-color: #5affd0;
}

/* SLIDERS */
.jfx-slider > .track {
     -fx-background-color: white;
     -fx-pref-height: 4.0;
}
.jfx-slider > .thumb {
     -fx-background-color: #5affd0;
}
.jfx-slider > .animated-thumb {
     -fx-background-color: transparent;
}
.jfx-slider .slider-value {
     -fx-fill: transparent;
     -fx-stroke: transparent;
}
#whiteblackslider > .track{
    -fx-background-color: black;
}
#whiteblackslider > .colored-track { 
    -fx-background-color: white;
}

#blackwhiteslider > .track {
    -fx-background-color: white;
}
#blackwhiteslider > .colored-track { 
    -fx-background-color: black;
}
#whitebalanceslider > .track {
    -fx-background-color: #3e87a6;
}
#whitebalanceslider > .colored-track {
    -fx-background-color: #f69d3b;
}
#saturationslider > .track {
    -fx-background-color: #999999;
}
#saturationslider > .colored-track {
    -fx-background-color: linear-gradient(to right, violet, #5affd0);
}
#hueslider > .track {
    -fx-background-color: linear-gradient(to right, transparent, green , blue , violet, transparent, green,  blue, violet, transparent);
}
#hueslider > .colored-track {
    -fx-background-color: transparent;
}
#vibranceslider > .track {
    -fx-background-color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
}
#vibranceslider > .colored-track {
    -fx-background-color: transparent;
}
#redslider > .track {
    -fx-background-color: #999999;
}
#redslider > .colored-track { 
    -fx-background-color: red;
}
#greenslider > .track {
    -fx-background-color: #999999;
}
#greenslider > .colored-track { 
    -fx-background-color: green;
}
#blueslider > .track {
    -fx-background-color: #999999;
}
#blueslider > .colored-track { 
    -fx-background-color: blue;
}
#qualityslider > .animated-thumb {
    -fx-background-color: #5affd0;
}
#qualityslider > .colored-track {
    -fx-background-color: #5affd0;
}
#qualityslider .slider-value {
     -fx-fill: #333130;
     -fx-stroke: #333130;
}
/* TEXT FIELDS */
.jfx-text-field {
    -jfx-focus-color: #5affd0;
    -fx-alignment: center;
    -fx-background-color: #333130;
    -fx-font-family: "Inconsolata Regular";
    -fx-text-fill: white;
    -fx-font-size: 14.0;
    -fx-pref-width:50.0;
    -fx-pref-height:30.0;
    -fx-highlight-fill: #5affd0;
    -fx-highlight-text-fill: #333130;
}
.text-flow > Text{
    -fx-fill: #5affd0;
}
.spinner {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;
	-fx-initial-delay: 1.0ms;
	-fx-repeat-delay: 1.0ms;
    -fx-padding: 0.0 0.0 3.0 0.0;   
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #5affd0;
    -fx-font-size: 25.0px;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #5affd0;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: #bdbdbd;
}
.jfx-check-box {
     -jfx-checked-color: #5affd0;
     -jfx-unchecked-color: #bdbdbd;
}
.jfx-check-box .mark{
     -fx-border-color: black;
}
#ver-box {
    -fx-background-color: #333130;
}
#hor-box {
    -fx-background-color: #333130;
}
#preset-checkbox {
    -fx-text-fill: #5affd0;
    -fx-font-size: 20.0;
    -fx-font-family: "Inconsolata Regular";
}
#preset-label {
    -fx-text-fill: #5affd0;
    -fx-font-size: 20.0;
    -fx-font-family: "Inconsolata Regular";
}

/*LIST VIEW */

.list-view {
    -fx-background-color: #333130;
}
.list-cell {
    -fx-background-color: #333130;
    -fx-text-fill: #5affd0;
    -fx-text-sie: 13;
    -fx-font-family: "Inconsolata Regular";
}
