.button{
    -fx-font: 13.0px "Serif";
    -fx-padding: 10.0;
    -fx-background-color: grey;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

#login{
	-fx-font: 13.0px "Serif";
    -fx-padding: 10.0;
    -fx-background-color: grey;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

#register{
	-fx-font: 13.0px "Serif";
    -fx-padding: 10.0;
    -fx-background-color: grey;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.label{
	-fx-text-fill: black;
}

.root{
	-fx-background-image: url("/it/unibo/oop/myworkoutbuddy/view/backgrounds/darkBackground.jpg");
	-fx-background-repeat: stretch;
    -fx-background-size: auto;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0); 
}

.tab{
    -fx-padding: 10.0;
    -fx-cursor: hand;
    -fx-background-color: lightBlue;
}

.tab-pane > .tab-header-area > .tab-header-background{
	-fx-background-color: grey;
}

#borderedLabel{
	-fx-background-radius: 20.0;
	-fx-background-color:grey;
	-fx-padding: 5.0;
	-fx-text-fill: white;
}

#selectTheme{
	-fx-font: 13.0px "Serif";
    -fx-padding: 6.0;
    -fx-background-color: grey;
    -fx-cursor: hand;
}

#mainTitle{
	-fx-background-color: grey;
	-fx-font: bold italic 20.0pt "Serif";
	-fx-effect: dropshadow( one-pass-box , black , 8.0 , 0.0 , 0.0 , 0.0 );
	-fx-padding: 12.0;
    -fx-text-fill: white;
}

#menuItem{
	-fx-background-color:grey;
}

#statBox{
	-fx-background-color:lightBlue;
}

#indexLabel{
	-fx-padding: 15.0;
	-fx-font-weight: bold;
	-fx-font-size: 18.0;
	-fx-text-fill: black;
}

#exercise{
	-fx-font-size: 13.0;
	-fx-font-weight:bold;
	-fx-text-fill:black;
}

#exerciseToSelect{
	-fx-font-size: 15.0;
	-fx-font-weight:bold;
	-fx-underline: true;
	-fx-padding:10.0;
	-fx-text-fill:black;
}

#selectedExercise{
	-fx-font-weight:bold;
	-fx-background-color: orange;
	-fx-effect: dropshadow( one-pass-box , black , 8.0 , 0.0 , 0.0 , 0.0 );
	-fx-text-fill:black;
	-fx-font-size: 15.0;
	-fx-padding:7.0;
}

#indexLabel{
	-fx-padding: 15.0;
	-fx-font-weight: bold;
	-fx-font-size: 18.0;
}

#indexNameLabel{
	-fx-font: bold italic 18.0pt "Serif";
	-fx-padding: 15.0;
}

#exerciseSection{
	-fx-background-color: lightBlue;
}

#workout{
	-fx-background-color: grey;
}

#selectedMenuButton{
	-fx-background-color: lightBlue;
	-fx-font: bold 14.0px 'Serif';
}

#movedInMenuButton{
	-fx-font-weight: bold;
	-fx-font-size: 14.0px;
	-fx-background-color:DarkOrange;
}

#menuButton{
	-fx-font: 13.0px 'Serif';
	-fx-padding: 10.0;
}