.root{
	-fx-background-image: url("/it/unibo/oop/myworkoutbuddy/view/backgrounds/GYM_1_SLIDER.jpg");
	-fx-background-repeat: stretch;
    -fx-background-size: auto;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0); 
}

.button{
    -fx-font: 13.0px "Serif";
    -fx-padding: 10.0;
    -fx-background-color: orange;
    -fx-cursor: hand;
}

.tab-pane > .tab-header-area > .tab-header-background{
}


.tab{
  	-fx-padding: 10.0;
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color:orange;
}

#selectedTab{
	-fx-padding: 10.0;
    -fx-background-color: orange;
    -fx-cursor: hand;
    -fx-background-radius: 30.0;
    -fx-effect: dropshadow( one-pass-box , black , 5.0 , 3.0 , 0.0 , 0.0 );
}

#borderedLabel{
	-fx-background-radius: 20.0;
	-fx-background-color:orange;
	-fx-padding: 5.0;
}

#selectTheme{
	-fx-font: 13.0px "Serif";
    -fx-padding: 6.0;
    -fx-background-color: orange;
    -fx-cursor: hand;
}

#mainTitle{
	-fx-background-color: orange;
	-fx-font: bold italic 20.0pt "Serif";
	-fx-effect: dropshadow( one-pass-box , black , 8.0 , 0.0 , 0.0 , 0.0 );
	-fx-padding: 12.0
}

#statBox{
	-fx-background-color:lightBlue;
}

#indexLabel{
	-fx-padding: 15.0;
	-fx-font-weight: bold;
	-fx-font-size: 18.0;
}

#indexNameLabel{
	-fx-font: bold italic 18.0pt "Serif";
	-fx-padding: 15.0;
}

#selectedExercise{
	-fx-font-weight:bold;
	-fx-background-color: orange;
	-fx-font-size: 15.0;
	-fx-effect: dropshadow( one-pass-box , black , 8.0 , 0.0 , 0.0 , 0.0 );
	-fx-padding:10;
}

#exercise{
	-fx-font-size: 15.0;
	-fx-font-weight:bold;
}

#exerciseToSelect{
	-fx-font-size: 15.0;
	-fx-font-weight:bold;
	-fx-underline: true;
	-fx-padding:10;
}

#workout{
	-fx-background-color: lightBlue;
}

#movedInMenuButton{
	-fx-font-weight: bold;
	-fx-font-size: 14.0px;
	-fx-background-color:DarkOrange;
}

#selectedMenuButton{
	-fx-background-color: lightBlue;
	 -fx-font: bold 14.0px 'Serif';
}

#menuButton{
	-fx-font: 13px 'Serif';
	-fx-padding: 10;
}