
.button {
    -fx-background-color: rgba(0, 0, 0, 0.623);
    -fx-font-size: 10pt;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
-fx-background-color: rgba(245, 240, 240, 0.692);
   -fx-font-size: 10pt;
   -fx-text-fill: rgb(0, 0, 0);
   -fx-font-weight: bold;
}

.button:hover:pressed{
-fx-background-color: rgba(245, 240, 240, 0.692);
   -fx-font-size: 8pt;
   -fx-text-fill: rgb(0, 0, 0);
   -fx-font-weight: bold;
}

.myDialog {
    -fx-background-color: rgb(59, 59, 59);
    -fx-font-size:10pt;
    -fx-text-fill:white;
}

.myDialog > *.label.content{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill:white;
}
.myDialog:header *.header-panel{
    -fx-background-color: rgb(59, 59, 59);
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-text-fill:white;
}

