#gridPane {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-text-fill: #d8d8d8; 
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0.623);
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: rgba(245, 240, 240, 0.692);
   -fx-font-size: 12pt;
   -fx-text-fill: #000000;
   -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-color: rgb(112, 111, 104);
    -fx-font-size: 9pt;
    -fx-text-fill: #f1f1f1;
    -fx-font-weight: bold;
    
}

.button:focused, #loginBtn:focused, #signBtn:focused, #textField:focused, #passwordField:focused {
    -fx-border-color:rgb(3, 202, 13);
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#textField, #passwordField {
    -fx-background-color: #1d1d1d;
    -fx-border-color: #e2e2e2;
    -fx-text-fill: #fdfdfd;

}

#textField:hover, #passwordField:hover {
    -fx-background-color: #948d8d;
    -fx-text-fill: #222121;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;

}

#signBtn {
    -fx-background-color: rgba(0, 0, 0, 0.623);
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#signBtn:hover {
    -fx-background-color: rgba(245, 240, 240, 0.692);
   -fx-font-size: 12pt;
   -fx-text-fill: #000000;
   -fx-font-weight: bold;
}

#signBtn:pressed {
    -fx-background-color: rgba(6, 199, 54, 0.842);
    -fx-font-size: 9pt;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#cancelBtn:pressed {
    -fx-background-color: rgba(199, 6, 6, 0.842);
    -fx-font-size: 9pt;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#cancelBtn:focused {
    -fx-border-color:rgb(214, 29, 29);
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

