.chart-container {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #474545;
}

.input-container {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #474545;
}

.title {
    -fx-font-weight: bold;
}