/* Game screen layout */
#gameArea {
    -fx-background-color: #9d9c9c;
    -fx-background-image: url("../img/abstractSky2.jpeg");
    -fx-opacity: 0.75;
    -fx-border-color: yellow;
    -fx-border-width: 2px;
}

FlowPane, BorderPane{
    -fx-background-color: black;
}

/* Hide lines in split pane */
.split-pane *.split-pane-divider {
    -fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Hide lines in separator */
.line {
    -fx-border-insets: 0px;
    -fx-border-width: 0px;
}

/* Life bar */
#lf01, #lf02, #lf03, #lf04, #lf05, #lf06 {
    -fx-background-image: url("../img/life.png");
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-padding: 15px 40px 15px 20px;
}



.label {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Copperplate";
}

#percentage {
    -fx-font-size: 40px;
}



