.cardContainer {
    -fx-cursor: hand;
}

.cardHighlighted {
    -fx-border-color: #FFD700;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

.cardRevealed {
    -fx-border-color: #c9a84c;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.cardSlotEmpty {
    -fx-border-color: rgb(10, 61, 31);
    -fx-border-width: 2;
    -fx-border-style: dashed;
    -fx-border-radius: 6;
}