@font-face {
    src: url("../fonts/forest_thing.ttf");
}

.titlePieces {
    -fx-font-family: "FOREST THING";
    -fx-fill: rgb(143,89,2);
    -fx-wrap-text: true;
    -fx-text-overrun: clip;
    -fx-text-alignment: center;
}

.buttons {
    -fx-max-width: infinity;
}
