.label {
    -fx-text-fill: red;
}

#myLabel {
    -fx-text-fill: #00f;
}

.room{
    -fx-fill: rgb(175, 87, 58);
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}
#outer-circle-rooms {
    -fx-fill: transparent;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}
#inner-circle-rooms {
    -fx-background-image: url("/images/inner_circle_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#circle-room-back{
    -fx-background-image: url("/images/main_view_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.sector{
    -fx-fill: transparent;
}
.root {
    -fx-background-size: cover; /* L'immagine si adatta alle dimensioni della finestra */
    -fx-background-position: center; /* Posiziona l'immagine al centro */
    -fx-background-repeat: no-repeat; /* Evita ripetizioni dell'immagine */
}

