/* Importing the colors.css that contains all the color of the app */
@import "/resources/mainStyle.css";

* {
}

/* Toggle the default margin of the tabs (looks better fixed with -3) */
.tab-pane:top *.tab-header-area {
    -fx-padding: -3px 0px 0px 0px; 
    -fx-font-size: 5;
}

/* Gives the background for the area behind tabs */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: darkSecondaryColor; 
}

/* Setting width/height for tab titles and background for the area */
.tab-pane {
    -fx-tab-min-width:100px;
    -fx-tab-min-height: 30px;
    -fx-background-color: lightColor;      
}

/* Setting the default background and border color for titles  */
.tab {
    -fx-background-color: transparent;
    
    /* "separator" effect using one of the border of the tabs */
    -fx-border-color: separatorColor;
    -fx-border-width: 0 1 0 0;
    
    /* Ths two guys disable an unwanted effect of "selected tab" */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


/* Setting the default backgorund color for titles when selected */
.tab:selected {
    -fx-background-color: accentColor;
    -fx-border-color: accentColor;
    -fx-border-width: 1;
}

/* Setting the label color when a tab is selected */
.tab:selected .tab-label {
	-fx-text-fill: textTabAccentColor;
}

/* Default text of the titles*/
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: textTabColor;
    -fx-font-size: 14px;
    -fx-font-weight: 100;
}