.text-field {
    -fx-background-radius: 1.0625em;
    -fx-font-size: 0.875em;
    -fx-font-family: 'Comic Sans MS';
    -fx-padding: 0.8125em;
    /* gaussian blur type, color, blur radius, spread radius, x-offset, y-offset */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25) , 4, 0, 0, 4 );
}

#backArrowButton {
    -fx-background-image: url("/images/BackArrowWhite.png");
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-radius: 16px;
    -fx-padding: 0px;
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-view-order: 1.0;
}

.root > .viewport {
    -fx-background-color: linear-gradient(to bottom,rgba(20,105,4,1),rgba(147,205,11,0.5));
    -fx-font-size: 16px;
}


.check-box > .box {
    -fx-background-color: rgba(20,105,4, 0.75);
}

.check-box:selected > .box > .mark {
    -fx-background-color: #ffffff;
}

.hyperlink {
    -fx-text-fill: rgba(20,105,4,1);
    -fx-border-color: transparent;
}

.hyperlink:visited {
    -fx-underline: false;
}

