.commonDialog {
    -fx-background-color: linear-gradient(to bottom,rgba(20,105,4,1),rgba(147,205,11,0.5));
}

.commonDialog > *.label.content{
    -fx-font-size: 0.875em;
}

.commonDialog:header *.header-panel{
	-fx-background-color: transparent;
}

.commonDialog:header *.header-panel *.label{
    -fx-font-size: 1.125em;
    -fx-font-style: italic;
    -fx-fill: #ffffff;
}