.user-label {
    -fx-font-size: 1em;
    -fx-text-fill: #ffffff;
}

#userContracts {
    -fx-padding: 0.8125em;
}

.contract-card {
    -fx-padding: 0.8125em;
}

.delete-contract-button {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Delete_IconLinear.png");
    -fx-background-size: contain;
    -fx-background-position: center bottom;
    -fx-background-repeat: no-repeat no-repeat;
}

#deleteUserButton {
    -fx-pref-height: 32px;
    -fx-pref-width: 32px;
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Delete_Icon.png");
    -fx-background-size: contain;
    -fx-background-position: center bottom;
    -fx-background-repeat: no-repeat no-repeat;
}