/* Importing the colors.css that contains all the color of the app */
@import "/resources/mainStyle.css";

* {
}

#pumpContainer {
	-fx-background-color: derive(lightColor, -2%);
    -fx-border-color: darkSecondaryColor;
    -fx-border-width: 0px 0px 0px 1px;
}

#areaContainer {
	-fx-background-color: lightColor;
	-fx-border-color: darkSecondaryColor;
}

