.logo {
	-fx-background-image: url('../menusResources/MSLogo.png');
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	background-image: url('../menusResources/MSLogo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}