.scroll-pane{
	-fx-text-fill: #fff;
	-fx-background: #222;
	-fx-border-color: #333;
}

/* CREDIT FOR THIS SCROLLBAR STYLE: https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/ */

.scroll-bar{
 -fx-background-color: #333;
 -fx-background-radius: 2.0em;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96.0,96.0,96.0),rgb(96.0,96.0,96.0);
}

.scroll-bar:vertical .increment-arrow {
 -fx-background-color: transparent;
 -fx-padding: 0.25em;
 -fx-rotate: 0.0;
}

.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: transparent;
 -fx-padding: 0.25em;
 -fx-rotate: -180.0;
}

.scroll-bar:vertical .decrement-button {
 -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button{
	-fx-background-color: transparent;
}

.label {
	-fx-alignment:top_left;
}
