.root {
    -fx-background-color: #121212;
    -fx-font-family: 'Segoe UI', 'Arial', sans-serif;
}

.label {
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: #121212;
}

.list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #424242;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #1a1a1a;
}
.list-cell:odd {
    -fx-background-color: #212121;
}

.button {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #00000088, 2, 0.2, 0, 1);
}

.button:hover {
    -fx-background-color: #5e5e5e;
}

.button:pressed {
    -fx-background-color: #212121;
}

.check-box {
    -fx-text-fill: white;
}

